shiny
shinydashboard
shinydashboardPlus
shinyjs
shinyWidgets
ggplot2
plotly
leaflet
DT
viridis
RColorBrewer
ggforce
patchwork
treemapify
dplyr
tidyr
tibble
stringr
forcats
lubridate
readr
readxl
zoo
scales
sf
here
yaml
logger
httr
jsonlite
digest
markdown
fs
flextable
rmarkdown
rsconnect
openxlsx
forecast
prophet
dbscan
nasapower
NeuralNetTools
randomForest
gtsummary
ggrepel
data.table
